<!--- Cabeçalho com o nome da loja e botão de login --->
<div style="background-color: #CD853F; height: 10rem;"> 
        
    <a href="/login" class="btn btn-outline-light" style="margin-left: 70rem; margin-top: 20px">Login</a>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-white">Empório das Variedades</h1>
            </div>
        </div>
    </div>
</div>


<!--- Lista de categorias --->
<ul class="nav justify-content-center" style="background-color: chocolate;">
    <li class="nav-item">
        <a class="nav-link active" href="/" style="color: white;">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#" style="color: white;">Livros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Roupas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Eletrônicos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Decoração</a>
    </li>
</ul>

<!--- Card com o formulario de cadastro --->
<div class="card border-dark mb-3" style="width: 93%; margin-left: 50px; margin-top: 50px; margin-bottom: 50px;">
    <div class="card-body">
        <h5 class="card-title">Cadastro</h5>
        <form method="POST" action="" method="POST" class="needs-validation" novalidate>
            <!-- inicio do form-->
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Nome do Vendedor</label>
                    <input name="nameVendedor" type="text" class="form-control" id="validationCustom01"
                        placeholder="Nome" required>
                    <div class="invalid-feedback">
                        Por favor, informe o nome do Vendedor.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">CPF</label>
                    <input name="cpf" type="text" class="form-control" id="validationCustom02" placeholder="XXX.XXX.XXX-XX"
                        required>
                    <div class="invalid-feedback">
                        Por favor, informe seu CPF.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">E-mail</label>
                    <input name="emailVendedor" type="email" class="form-control" id="validationCustom02"
                        placeholder="exemplo@gmail.com" required>
                    <div class="invalid-feedback">
                        Por favor, informe seu e-mail.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Senha</label>
                    <input type="password" class="form-control" id="validationCustom02" placeholder="Senha" required>
                    <div class="invalid-feedback">
                        Por favor, informe sua senha.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Cidade</label>
                    <input name="cidade" type="text" class="form-control" id="validationCustom03" placeholder="Cidade"
                        required>
                    <div class="invalid-feedback">
                        Por favor, informe uma cidade válida.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Estado</label>
                    <input name="estado" type="text" class="form-control" id="validationCustom04" placeholder="Estado"
                        required>
                    <div class="invalid-feedback">
                        Por favor, informe um estado válido.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom05">CEP</label>
                    <input name="cep" type="text" class="form-control" id="validationCustom05" placeholder="XXXXX-XXX"
                        required>
                    <div class="invalid-feedback">
                        Por favor, informe um CEP válido.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Tipo de Produto</label>
                    <select name="tipoProduto" class="form-control" required>
                        <option selected="selected" style=" display: none;">Selecione uma opção</option>
                        <option>Livros</option>
                        <option>Roupas</option>
                        <option>Eletrônicos</option>
                        <option>Decoração</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor, informe uma cidade válida.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Concordo com os termos e condições
                    </label>
                    <div class="invalid-feedback">
                        Você deve concordar com os termos e condições, antes de continuar.
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>