<!--- Cabeçalho com o nome da loja e botão de login --->
<div style="background-color: #CD853F; height: 10rem;"> 
        
    <a href="/login" class="btn btn-outline-light" style="margin-left: 70rem; margin-top: 20px">Login</a>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-white">Empório das Variedades</h1>
            </div>
        </div>
    </div>
</div>


<!--- Lista de categorias --->
<ul class="nav justify-content-center" style="background-color: chocolate;">
    <li class="nav-item">
        <a class="nav-link active" href="/" style="color: white;">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#" style="color: white;">Livros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Roupas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Eletrônicos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Decoração</a>
    </li>
</ul>

<!--- Campo para pesquisa --->
<form class="form-inline my-2 my-lg-0  justify-content-center">
    <input class="col-form-label" style="margin-left: 25rem; width: 30rem;" type="search" placeholder="Digite aqui o que deseja encontrar" aria-label="Pesquisar">
    <button class="btn btn-outline-secondary" type="submit" style="margin-bottom: 6px;">Pesquisar</button>
</form>

<!--- Cards de exposição dos produtos da empressas --->
<div class="container mb-4">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="https://cf.shopee.com.br/file/9496e696905d236e4d5415b35a659394_tn" alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Vestido Vinho Curto</h3>
                    </a>
                    <h6>R$100.00 <del class="text-muted ml-2">R$160.00</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="https://i.pinimg.com/originals/7a/63/12/7a6312210df314c98d4197dd18072ee3.jpg" alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Jarros Decorativos</h3>
                    </a>
                    <h6>R$34.99 <del class="text-muted ml-2">R$50.00</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="http://www.livrosefuxicos.com/wp-content/uploads/2020/08/livros-de-suspense-no-Kindle-Unlimited-scaled.jpg"
                            alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Box de Livros Variados</h3>
                    </a>
                    <h6>R$150.00 <del class="text-muted ml-2">R$170.00</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="https://http2.mlstatic.com/D_NQ_NP_680114-MLB31079557293_062019-O.jpg"
                            alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Pop Socket para Celular</h3>
                    </a>
                    <h6>R$9.99 <del class="text-muted ml-2">R$12.99</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="https://cf.shopee.com.br/file/2ea0969a8dc7f4afb5b4d26a1224f10c"
                            alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Fone de Ouvido Rosa</h3>
                    </a>
                    <h6>R$199.99 <del class="text-muted ml-2">R$399.99</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <a href="#">
                        <img class="card-img-top"
                            src="https://i.pinimg.com/736x/41/29/d7/4129d799d8fb3d3d13610e471d299279.jpg"
                            alt="">
                    </a>
                    <div class="text-warning">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <a class="text-reset" href="/detalhes">
                        <h3 class="card-title display-4">Utensílios Culinários Variados</h3>
                    </a>
                    <h6>R$150.00 <del class="text-muted ml-2">R$250.00</del></h6>
                    <a class="btn btn-dark my-2" href="/carrinho" role="button">Adicionar no carrinho</a>
                </div>
            </div>
        </div>

    </div>
</div>